.weather-container {
    display: flex;
    position: absolute;
    cursor: default;
    top: 0;
    right: 0;
    transition: all .5s ease;
}

.weather-container-closed {
    color: white;
}

.weather-container-opened {
    color: rosybrown;
}

.weather-temperatura {
    margin: 5px 15px 0 0;
    font-size: 70px;
}

.weather-location {
    margin: 5px 15px 0 0;
    text-align: right;
    font-size: 30px;
}