.registration-form-container {
    max-width: 450px;
    height: 450px;
}

.registration-form input {
    padding: 6px 20px;
    width: 80%;
    border: none;
    font-size: 22px;
    outline-style: none;
    border-radius: 12px;
    margin: 5px auto;
}

.registration-form label {
    font-size: 22px;
    font-weight: bold;
    color: honeydew;
    display: block;
    margin: 10px 0px 5px 5px;
}