.clock-container {
    position: absolute;
    cursor: default;
    transition: all .5s ease;
}

.clock-container-center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.clock-container-back {
    left: 0;
    top: 0;
    transform: none;
}

.clock-time {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 180px;
    color: white;
    text-shadow: black -1px 5px 15px;
    transition: all .5s ease;
}

.clock-container-back .clock-time {
    font-size: 70px;
}